{% extends 'base.html.twig' %}

{% block title %}Formular{% endblock %}

{% block body %}
    <h1>Pokemon</h1>
    <div>Id: {{ pokemon.id }}</div>
    <div>Name: {{ pokemon.name }}</div>
    <div>Height: {{ pokemon.height }}</div>
    <div>Weight: {{ pokemon.weight }}</div>
    <div>Imaghe: {{ pokemon.image }}</div>
{% endblock %}
